@font-face {
    font-family: rockSalt;
    src: url(../fonts/font.woff2);
}

@font-face {
    font-family: specialElite;
    src: url(../fonts/font_2.woff2);
}

@font-face {
    font-family: sigmarOne;
    src: url(../fonts/font_3.woff2);
}

@font-face {
    font-family: montserratLocal;
    src: url(../fonts/montserrat.woff2);
}

@font-face {
    font-family: antonLocal;
    src: url(../fonts/anton.woff2);
}

* {
    //font-family: 'Sigmar One', cursive;
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Anton', sans-serif;
    font-weight: lighter;
}

body {
    //overflow: hidden;
    animation: bg-color 30s infinite ease-in-out
}

.navbar{
    animation: bg-color 30s infinite ease-in-out
}

h1 {
    font-family: 'sigmarOne';
    font-size: 1.8rem;
}

#code {
    font-family: 'sigmarOne';
}

.menu {
    text-align: center;
    height: 100vh;
}

.menu-w-1 {
    width: 18rem;
}

.h-center {
    margin: auto;
}

.testt > *{
  display: inline-block;
}


.v-center {
    margin-top: 15vh;
}

.card-prebus {
    width: 3.5rem;
}

.v-center-2 {
    margin-top: 15vh;
}

.card-nav {
    width: 5rem;
}

.card-class {
    height: 15rem;
}

.card-bus {
    width: 3rem;
}

.btn-width {
    width: 8rem;
}

@keyframes bg-color {
    0% {
        background-color: rgb(25, 200, 100, 50);
    }
    25% {
        background-color: rgb(200, 100, 50, 50);
    }
    50% {
        background-color: rgb(200, 230, 20, 50);
    }
    75% {
        background-color: rgb(100, 40, 200, 50);
    }
    100% {
        background-color: rgb(25, 200, 100, 50);
    }
}

.flip-scale-down-diag-2 {
    animation: flip-scale-down-diag-2 0.5s linear both;
}

@keyframes flip-scale-down-diag-2 {
    0% {
        transform: scale(1) rotate3d(0, 1, 0, 0deg);
    }
    50% {
        transform: scale(0.4) rotate3d(0, 1, 0, -90deg);
    }
    100% {
        transform: scale(1) rotate3d(0, 1, 0, 0deg);
    }
}
