[Unit]
Description=Juego del Bus Service

[Service]
ExecStart=/home/ubuntu/juego_del_bus/venv/bin/python /home/ubuntu/juego_del_bus/backend/server.py
Restart=on-failure

[Install]
WantedBy=default.target
